## Practices 0

In [ ]:
import findspark
findspark.init()
findspark.find()
from pyspark.sql import SparkSession
from pyspark.sql.functions import mean,col,split, col, regexp_extract, when, lit

In [ ]:
#creat session
spark = SparkSession.builder.appName("SimpleApp").getOrCreate()

In [ ]:
path = "data/titanic_proj_train.csv"
titanic_df = spark.read.csv(path,header = 'True',inferSchema='True')

In [ ]:
display(titanic_df)

In [ ]:
titanic_df.printSchema()

In [ ]:
titanic_df.show(5)

In [ ]:
titanic_df.select("Survived","Pclass","Embarked").show()

In [ ]:
titanic_df.groupBy("Survived").count().show()

In [ ]:
titanic_df.groupBy("Pclass","Survived").count().show()

In [ ]:
# task 1
#Did more male or Ð° female survived? (show the table)

In [ ]:
#check Initial
titanic_df.select("Name").show()

In [ ]:
titanic_df = titanic_df.withColumn("Initial",regexp_extract(col("Name"),"([A-Za-z]+)\.",1))
titanic_df.select("Initial").show()

In [ ]:
titanic_df = titanic_df.replace(['Mlle','Mme', 'Ms', 'Dr','Major','Lady','Countess','Jonkheer','Col','Rev','Capt','Sir','Don'],
               ['Miss','Miss','Miss','Mr','Mr',  'Mrs',  'Mrs',  'Other',  'Other','Other','Mr','Mr','Mr'])

In [ ]:
titanic_df.select("Initial").distinct().show()

In [ ]:
#Calculate  avereg age 
titanic_df.groupby('Initial').avg('Age').collect()

In [ ]:
#Task 2. What is the median and standard deviation of payments (`Fare`)?
from pyspark.sql.functions import mean, stddev

In [ ]:
#Task 3.
#Find the most popular the male name.

In [ ]:
#Task 4.Is it true that people under the age of 30 survived more often than people over the age of 60? What are the proportions of survivors in both groups?

In [ ]:
#Task 5.
'''
How does the average age of men/women differ depending on the class of service? Choose the correct statements:**
- On average, men of the 1st class are over 40 years old
- On average, 1st grade women are over 40 years old
- Men of all classes are on average older than women of the same class
- On average, people in the 1st grade are older than in the 2nd, and those are older than representatives of the 3rd grade
'''